.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
/algoritm/data/
/build/assets/predict/
/build/assets/picture/
/build/assets/frame0/*/
build/assets/picture/picture.png
